<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <p class="pure-menu-heading">Navigation App </p>
    <ul class="pure-menu-list">
      <li class="pure-menu-item">
        <a href="main" class="pure-menu-link"> Main </a> 
      </li>
      <li class="pure-menu-item">
        <a href="second" class="pure-menu-link">Second</a>
      </li>
      <li class="pure-menu-item">
        <a href="third" class="pure-menu-link">Third</a>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>